@charset "UTF-8";

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: "MyriadPro";
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1010px;
  padding: 0 15px;
  margin: 0 auto;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input:focus::-webkit-input-placeholder {
  font-size: 0;
}

input:focus::-moz-placeholder {
  font-size: 0;
}

input:focus:-ms-input-placeholder {
  font-size: 0;
}

input:focus::-ms-input-placeholder {
  font-size: 0;
}

input:focus::placeholder {
  font-size: 0;
}

.header {
  position: relative;
  background-color: #dcdcdc;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 230px;
}

.header__menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  overflow: auto;
  background-color: #807e7e;
  min-height: 100vh;
  width: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1000;
}

.header__menu.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.header__burger {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 10;
  display: none;
}

.header__burger span {
  width: 18px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header__burger::before,
.header__burger::after {
  content: '';
  width: 18px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header__burger::after {
  bottom: 14px;
}

.header__burger::before {
  top: 14px;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 19px;
  left: 11px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 19px;
  left: 11px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__logo img {
  display: block;
  max-width: 100%;
}

.logo {
  width: 273px;
  height: 100px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__phone {
  color: #767676;
  font-size: calc(22px + 18 * ((100vw - 320px) / 1600));
  line-height: 46px;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__wrapper {
  padding: 70px 0 110px;
}

.hero__form {
  margin-left: 100px;
  max-width: 360px;
}

.hero__form-title {
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  line-height: 1;
  color: #9da3d7;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.form {
  max-width: 360px;
  background-color: #9da3d7;
  padding: 25px 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__title {
  color: #fff;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  line-height: 28px;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}

.form__input {
  height: 50px;
  margin-bottom: 20px;
  color: 767676;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  line-height: 1;
  padding: 0 20px;
  outline: none;
  border: none;
  max-width: 290px;
  width: 100%;
}

.form__btn {
  height: 50px;
  background-color: #ffc087;
  color: #000;
  cursor: pointer;
  border: none;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  line-height: 50px;
  text-transform: uppercase;
  max-width: 290px;
  width: 100%;
  outline: none;
}

.slider {
  padding: 50px 0 65px;
}

.slider__wrapper {
  /* Слайдер */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Точки (булиты) */
}

.slider__wrapper.slick-slider {
  position: relative;
  padding-bottom: 40px;
}

.slider__wrapper .slick-list {
  overflow: hidden;
}

.slider__wrapper .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__wrapper .slick-dots {
  position: absolute;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__wrapper .slick-dots li {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 3px solid #ddd;
  background-color: #fff;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 21px;
  cursor: pointer;
}

.slider__wrapper .slick-dots li:last-child {
  margin-right: 0;
}

.slider__wrapper .slick-dots li button {
  width: 21px;
  height: 21px;
  background-color: #9da3d7;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border: none;
  opacity: 0;
  outline: none;
  cursor: pointer;
}

.slider__wrapper .slick-dots li.slick-active button {
  opacity: 1;
}

.slider__item {
  outline: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 20px 0;
}

.slider__item img {
  width: 100%;
  display: block;
}

.slider__img {
  position: relative;
  max-width: 710px;
  margin: 0 auto;
}

.slider__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid #fff;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
}

.title {
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  line-height: 110%;
  color: #9da3d7;
  text-transform: uppercase;
  text-align: center;
}

.paragraph__title {
  margin-bottom: 35px;
}

.paragraph__title.title {
  font-weight: 400;
  color: #000;
  font-size: 24px;
}

.paragraph__text {
  font-size: 14px;
  color: #000;
  margin: 0;
}

.calculator {
  padding: 70px 0 90px;
}

.calculator__title {
  margin-bottom: 35px;
}

.calculator__title span {
  display: block;
}

.calculator__options {
  margin-bottom: 35px;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.calculator__options::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

.options-calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.options-calculator__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.options-calculator__item.active .options-calculator__title {
  color: #0099de;
  position: relative;
}

.options-calculator__item.active .options-calculator__title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #0099de;
  width: 100%;
}

.options-calculator__image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 22px;
}

.options-calculator__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #000;
}

.form-calculator {
  padding: 35px 30px 50px;
  border-radius: 8px;
  -webkit-box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.23), inset 1px 1.732px 6px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.23), inset 1px 1.732px 6px 0px rgba(0, 0, 0, 0.35);
}

.form-calculator__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-calculator__size {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
}

.form-calculator__size-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 250px;
  position: relative;
}

.form-calculator__size-img::before,
.form-calculator__size-img::after {
  position: absolute;
  font-weight: 600;
  font-size: 22px;
  color: #636363;
  font-style: italic;
}

.form-calculator__size-img::before {
  content: 'высота';
  left: -22px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.form-calculator__size-img::after {
  content: 'ширина';
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.form-calculator__options {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 25px 0 0 115px;
}

.form-calculator__title {
  font-size: calc(22px + 8 * ((100vw - 320px) / 1600));
  color: #0099de;
  margin-bottom: 45px;
  font-weight: 700;
}

.form-calculator__options-item {
  margin-bottom: 60px;
}

.form-calculator__options-item:last-child {
  margin-bottom: 0;
}

.form-calculator__options-title {
  font-weight: 600;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  color: #000;
  margin-bottom: 20px;
}

.form-calculator__options-select {
  max-width: 355px;
  position: relative;
}

.form-calculator__options-select::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  border-top: 21px solid #aeaeae;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}

.form-calculator__options-select select {
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #aeaeae;
  padding: 0 25px;
  font-size: 18px;
  color: #000;
  outline: none;
}

.form-calculator__phone {
  margin-top: 60px;
}

.size-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.size-inputs span {
  color: #0099de;
  font-size: 45px;
  font-weight: 700;
  margin: 0 25px;
}

.size-inputs__item {
  text-align: center;
  position: relative;
  padding-top: 30px;
}

.size-inputs__item label {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
}

.size-inputs__item input {
  max-width: 90px;
  border: 2px solid #a2a2a2;
  border-radius: 7px;
  font-size: 35px;
  height: 45px;
  padding: 0 16px;
}

.options-checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options-checkboxes__item {
  margin-right: 25px;
}

.options-checkboxes__item:last-child {
  margin-right: 0;
}

.options-checkboxes input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.options-checkboxes input:checked + .options-checkboxes__label::after {
  opacity: 1;
}

.options-checkboxes__label {
  font-size: 18px;
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}

.options-checkboxes__label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #979797;
}

.options-checkboxes__label::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 14px;
  height: 14px;
  background-color: #0099de;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.calculator-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator-phone__input {
  margin-right: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
  position: relative;
}

.calculator-phone__input::before {
  position: absolute;
  content: '';
  width: 43px;
  height: 43px;
  border-radius: 10px;
  background-color: #fff;
  top: 1px;
  left: 1px;
}

.calculator-phone__input img {
  display: block;
  max-width: 100%;
  position: absolute;
  left: 9px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.calculator-phone__input input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: #c6c6c6;
  border: none;
  outline: none;
  padding: 0 25px 0 65px;
  color: #424242;
  font-size: 18px;
}

.calculator-phone__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  font-weight: 700;
  background-color: #9da3d7;
  text-transform: uppercase;
  padding-top: 5px;
  height: 45px;
}

.footer {
  background-color: #777777;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.footer__text {
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  color: #fff;
}

.footer__text span {
  display: block;
}

.succes-modal {
  opacity: 0;
  visibility: hidden;
  max-width: 420px;
  width: 100%;
  min-height: 240px;
  padding: 25px 80px;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100000;
  -webkit-box-shadow: 1px 2px 19px rgba(0, 0, 0, 0.9);
          box-shadow: 1px 2px 19px rgba(0, 0, 0, 0.9);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.succes-modal__title {
  font-size: calc(22px + 8 * ((100vw - 320px) / 1600));
  line-height: 150%;
  color: #9da3d7;
  margin-bottom: 12px;
  font-weight: 700;
}

.succes-modal__text {
  font-size: calc(16px + 3 * ((100vw - 320px) / 1600));
  line-height: 150%;
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 25px;
  color: #9da3d7;
}

.succes-modal__btn {
  font-size: calc(16px + 3 * ((100vw - 320px) / 1600));
  line-height: 80%;
  width: 100%;
  padding: 18px 0;
  background-color: #9da3d7;
  cursor: pointer;
}

@media (max-width: 1010px) {
  .options-calculator__item {
    margin-right: 50px;
  }

  .options-calculator__item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 986px) {
  .form-calculator__options {
    padding: 25px 0 0 30px;
  }
}

@media (max-width: 900px) {
  .form-calculator__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-calculator__options {
    text-align: center;
    padding: 30px 0 0 30px;
  }

  .form-calculator__options-select {
    margin: 0 auto;
  }

  .options-checkboxes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .options-calculator__item {
    margin-right: 30px;
  }
}

@media (max-width: 630px) {
  .form-calculator__options {
    padding: 30px 0 0;
  }

  .form-calculator__title {
    margin-bottom: 25px;
  }

  .form-calculator__options-item {
    margin-bottom: 30px;
  }

  .options-checkboxes__item {
    margin: 0 0 15px 0;
  }

  .options-checkboxes__item:last-child {
    margin-bottom: 0;
  }

  .options-checkboxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 626px) {
  .options-checkboxes__label {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 570px) {
  .header__wrapper {
    height: 80px;
  }

  .header__menu .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__menu .contacts__phone {
    color: #fff;
  }

  .header__burger {
    display: block;
  }

  .logo {
    height: 60px;
    width: 170px;
  }

  .contacts {
    display: none;
  }

  .hero__wrapper {
    padding: 40px 0 60px;
  }

  .hero__form {
    margin-left: 0;
  }

  .slider__wrapper .slick-dots li button {
    width: 16px;
    height: 16px;
  }

  .slider__wrapper .slick-dots li {
    width: 28px;
    height: 28px;
  }

  .calculator-phone__input {
    margin: 0 0 20px 0;
  }

  .calculator-phone {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }

  .footer__wrapper {
    height: 80px;
  }
}

@media (max-width: 425px) {
  .slider {
    padding: 30px 0 30px;
  }

  .paragraph__title {
    margin-bottom: 25px;
  }

  .calculator {
    padding: 40px 0 40px;
  }
}